* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
    background-color: #4682b4;
  }

  tr {
    text-align: center;
  }

  .major-name{
    background-color: transparent;
    color: white;
    border: None;
    cursor: pointer;
    text-align: left;
  }

  .year{
    font-size: 70px;
    border: 10px;
  }
  
  .search {
    border: 5px solid;
    border-color: goldenrod;
    width: 15vw;
    height: 80vh;
    background-color: #083763;
  }

  ::-webkit-scrollbar {
    background-color: #272522;
    border-bottom: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #767676;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-corner {
    color: #a7a79f;
  }

  table{
    width: 35vw;
    height: 40vh;
    text-align: center;
    background-color: #083763;
    color: white;
    font-size: 20px;
    border: 5px solid;
    border-color: goldenrod;
  }

  .major-list {
    list-style: None;
    padding: 0;
    background-color: #083763;
    overflow: scroll;
    overflow-x:hidden;
    height: 90%;
    padding: 5%
  }

  input {
    font-size: 20px;
    width: 100%;
    padding: 5%;
    background-color: #083763;
    color: white
  }

  input::placeholder{
    color: #c8c8c8;
  }
  .screen {
    justify-content: flex-start;
    display: flex;
    width: 90vw;
    height: 90vh;
    margin: auto;
    overflow: auto;
    padding: 30px;
    border-radius: 5px;
  }

  #outlined-basic {
    color: white;
  }
  
  #classList{
    padding-bottom: 1%;
  }

  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }

  #vert{
    display:inline-block;
    vertical-align:middle;
  }
